html{
  background-color:gray;
  background-repeat:repeat;
  background-position: center;
  background-size:cover;
  background-attachment;fixed;
  }

.input{
  text-align: center;
  line-height: normal;
  padding-bottom:7px
  font-weight: 300;
}
.header {
  text-align: center;
  font-family: fantasy;
  font-weight: 400;
  color:purple;
  font-stretch: extra-expanded;
}
.buttons{
 width: 80px;
 height: 30px;
 align:middle;
 position: absolute;
 top: 50%;
 left: 50%;
 border-radius: 8px;
}
h2{
  font-family:fantasy;
  text-align:center;
  font-style:oblique;
}
