html{
  background-color:brown;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment;fixed
  }

.input{
  text-align: center;
  line-height: 80px;
  padding-bottom: 8px;
  font-weight: 300;
}
.header {
  text-align: center;
  font-family: fantasy;
  font-weight: 400;
  color:purple
  font-stretch:semi-condensed;
}
.buttons{
 width: 20px;
 height: 10px;
 align:middle;
 position: absolute;
 top: 70%;
 left: 50%;
 border-radius: 10px;
}
h2{
  font-family: sans-serif;
  text-align:center;
  font-style:italic;
}
